@use 'top-nav';

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121C21;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: #fff;
}

main {
    padding: 0 6rem;

    @media screen and (max-width: 800px) {
        padding: 0 2rem;
    }
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    position: relative;

    @media screen and (max-width: 550px) {
        justify-content: center;
    }

    &__left {
        margin-left: 2rem;
        display: flex;
        align-items: center;
        gap: 3rem;
        font-size: 2.6rem;
        color: #fff;
    }

    &__right {
        margin-right: 2rem;

        display: flex;
        align-items: center;
        gap: 2.6rem;
        font-size: 2rem;

        @media screen and (max-width: 550px) {
            display: none;
        }

        &>a {
            color: #fff;
            text-decoration: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: .2rem;
        background-color: #192933;
    }


}

.title {
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 550px) {
        text-align: center;
    }

}

.profile {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    gap: 4rem;
    margin-bottom: 4rem;

    @media screen and (max-width: 550px) {
        flex-direction: column;
    }


    &__left {
        &-circle {
            width: 16rem;
            height: 16rem;
            background-color: #192933;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &>img {
                height: 4rem;
            }
        }
    }

    &__right {

        @media screen and (max-width: 550px) {
            text-align: center;
        }

        &>h1 {
            font-size: 2.5rem;
            font-weight: 400;
        }

        &>p:first-of-type {
            margin: .8rem 0;
            font-size: 1.4rem;
            color: #94B2C7;

        }

        &>:last-child {
            color: #fff;
            font-size: 1.8rem;
            max-width: 60%;

            @media screen and (max-width: 550px) {
                text-align: justify;
            }

            @media screen and (max-width: 800px) {
                max-width: 100%;
            }
        }
    }
}


.about {
    &>p {
        font-size: 1.8rem;
        max-width: 80%;
        text-align: justify;
        margin-left: 1rem;
        line-height: 22px;

        @media screen and (max-width: 550px) {
            max-width: 100%;
        }
    }
}

.skills{
    &__items{
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        &-item{
            display: flex;
            align-items: center;
            gap: 1.6rem;
            background-color: #192933;
            border-radius: .6rem;
            border: .2rem solid #243847;
            padding: 1rem 1.6rem;
            font-size: 1.8rem;
            width: 14rem;
        }
    }
}